@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');



html {
  overflow-y: scroll;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #Fff;
  z-index: 10;
  height: 100%;
  width: 100%; }

.balls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 30; }

.ball-1, .ball-2, .ball-3 {
  background-color: #F54D0D;
  display: inline-block;
  margin: auto 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  -webkit-animation: loading 0.5s infinite ease-in-out alternate;
  -moz-animation: loading 0.5s infinite ease-in-out alternate; }

.ball-2 {
  -webkit-animation-delay: 0.25s; }

.ball-3 {
 -webkit-animation-delay: 0.5s; }

@-webkit-keyframes loading {
  0% {-webkit-transform: translateY(0%);}
  100% {-webkit-transform: translateY(-90%);} }

section.container {
  margin: 50px 50px 0px 50px;
  height: 80px; }

h1 img {
  width: 200px;
  float: left; }

.trigger {
  display: none; }

nav {
  float: right;
  margin-top: 6px; }

nav a, .design-description a, footer a, .overlay .title, .title-design, h4 {
  text-decoration: none;
  font-family: quicksand, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px; }

nav a {
  color: #07222d;
  margin: 0 0 0 30px; }

nav a:hover, footer a  {
  color: #f24e22;
  background: url("../img/squiggle.png") repeat-x 100% 100%;
  background-size: 170px;
  padding-bottom: 10px; }

html, body, .grid {
  width: 100%; }

.grid {
  margin: 0 -8px; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-sizer, .item {
  width: 25%; }

.item {
  float: left;
  -webkit-transition: left .2s ease-in-out, top .3s ease-in-out .3s;
  -moz-transition: left .3s ease-in-out, top .3s ease-in-out .3s;
  -ms-transition: left .3s ease-in-out, top .3s ease-in-out .3s;
  -o-transition: left .3s ease-in-out, top .3s ease-in-out .3s;
  transition: left .3s ease-in-out, top .3s ease-in-out .3s; }

.item:hover {
  cursor: pointer; }

.design {
  width: 50%; }

.item img {
  width: 100%;
  height: 100%;
  display: block; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  color: #fff;
  opacity: 0; }

.overlay .title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }


.design-description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 100px; }


.title-design  {
  text-align: left;
}

.description, footer, p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 30px; }

.item:hover .overlay {
  display: block;
  opacity: 1;
  transition: all 0.5s; }

section.about {
  max-width: 600px;
   margin: 50px 50px 0px 50px;
  }

  h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 30px;
  }

  h3 strong {
    color: #f24e22;
    font-weight: 400;
  }

  h4 {
    margin-top: 80px;
  }


footer {
  margin: 80px;
  color: #07222d; 
  text-align: center; }

footer p {
  margin-bottom: 30px; }

@media screen and (max-width: 1080px) {

  .design-description {
  margin: auto 100px;}
}

@media screen and (max-width: 870px) {

  .grid-sizer, .item {
    width: 50%; }

  .design {
    width: 100%; }

  section.container {
    margin: 30px 30px 0px 30px;
    height: 60px; }

  section.about {
   margin: 30px 30px 0px 30px;
  }

  h1 img {
    width: 150px; }

}

@media screen and (max-width: 670px) {

  .design-description {
  margin: auto 50px;}

  section.container {
    margin: 20px 0px 0px -10px;
    height: 50px; }

  h1 img {
    width: 120px;
    float: none; }

  h1 {
    display: block;
    text-align: center; }

  nav a {
    display: block;
    margin: auto 0;
    padding: 10px;
    text-align: center; }

  nav a:hover  {
    background: none;
    padding-bottom: 10px; }

  nav {
      display: none;
      float: none;
      text-align: center;
      padding: 0 0 20px 0;
      margin-top: -2px;
      z-index: 10;
      position: relative;
      background-color: #fff;
      width: 100%; }

  .trigger {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px; }

  .trigger img {
    width: 20px; }

  .logo {
    max-width: 250px; }
}

