.progress {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #FFF0BF;
	z-index: 10;
	margin: 0 10px;
}

.progress__amount {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #FFE27F;
	z-index: 20;
}

.pencil {
	position: relative;
	z-index: 30;
	max-width: 400px;
	width: 100%;
}

header {
	text-align: center;
	margin: 60px 0 0 0;
}

h1 img {
	max-width: 200px;
}

nav img {
	margin: 40px 10px 0 10px;
	max-width: 120px;
}

#illustration {
	margin: 0 30px 0 0;
}

#images {
	margin: 60px auto;
	max-width: 960px;
	position: relative;
}

.work {
	opacity: 0;
	z-index: 1;
}

video {
	max-width: 100%;
}

.nudge:hover {
	transform: translateY(-1%) translateX(-1%);
	box-shadow: 5px 5px #FF6648;
	cursor: pointer;
}

nav a {
	text-decoration: none;
}


div.illustration {
	width: 30%;
	margin: 0 10px 20px 10px;
}

div.design img{
	width: 100%;
}

/*div#full-width  {
	margin: auto 20px 60px 20px;
}*/

div.contact {
	width: 100%;
	margin: 20px auto;
}

#lightbox {
	background: rgba(255,255, 255, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 20;
  display: none;
}

#lightbox > * {
	max-height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


footer {
	margin: 40px auto 60px auto;
	text-align: center;
}

footer img {
	max-width: 30px;
	margin: 0 10px;
}

footer a {
	text-decoration: none;
}

@media screen and (max-width: 650px) {

	div.illustration {
		width: 45%;
	}

	div.contact {
		width: 100%;
		margin: 40px auto;
	}

	div#full-width {
		margin: auto 20px 20px 20px;
	}
}

@media screen and (max-width: 500px) {

	nav a {
		display: block;
	}

	#illustration {
		margin: 40px 0 0 0;
	}
}

@media screen and (max-width: 400px) {

	.progress {
		position: relative;
		left: 0;
		transform: none;
		margin: 0 10px;
	}

	div.illustration {
		width: 95%;
	}

	h1 {
		padding: 0 20px;
	}

	nav {
		margin: 20px auto auto auto;
	}

	div#lightbox {
		display: none;
	}

	.nudge:hover {
		box-shadow: none;
		cursor: default;
	}

}



