@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);

html {
  overflow-y: scroll;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #Fff;
  z-index: 10;
  height: 100%;
  width: 100%; }

.balls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 30; }

.ball-1, .ball-2, .ball-3 {
  background-color: #F54D0D;
  display: inline-block;
  margin: auto 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  -webkit-animation: loading 0.5s infinite ease-in-out alternate;
  -moz-animation: loading 0.5s infinite ease-in-out alternate; }

.ball-2 {
  -webkit-animation-delay: 0.25s; }

.ball-3 {
 -webkit-animation-delay: 0.5s; }

@-webkit-keyframes loading {
  0% {-webkit-transform: translateY(0%);}
  100% {-webkit-transform: translateY(-90%);} }

section.container {
  margin: 50px 50px 0px 50px;
  height: 80px; }

h1 img {
  width: 200px;
  float: left; }

.trigger {
  display: none; }

nav {
  float: right;
  margin-top: 6px; }

nav a, .button a, footer a, .overlay .title, .title-design {
  text-decoration: none;
  font-family: karla, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px; }

.button a {
  border-radius: 50px;
  padding: 15px 30px;
  border: 2px rgba(6, 34, 45, 0.1) solid;
  background-color: rgba(6, 34, 45, 0.1);
  color: rgba(6, 34, 45, 0.5); }

.button a:hover {
  color: rgba(255, 255, 255, 0.8);
  border: 2px rgba(255, 255, 255, 0.1) solid;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s; }

.button {
  margin-top: 60px; }

.button, .overlay .title, .title-design, footer  {
  text-align: center; }

nav a {
  color: #07222d;
  margin: 0 0 0 30px; }


nav a:hover, footer a  {
  color: #f24e22;
  background: url("../img/squiggle.png") repeat-x 100% 100%;
  background-size: 100px;
  padding-bottom: 10px; }

html, body, .grid {
  width: 100%; }

.grid {
  margin: 0 -8px; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-sizer, .item {
  width: 25%; }

.item {
  float: left;
  -webkit-transition: left .2s ease-in-out, top .3s ease-in-out .3s;
  -moz-transition: left .3s ease-in-out, top .3s ease-in-out .3s;
  -ms-transition: left .3s ease-in-out, top .3s ease-in-out .3s;
  -o-transition: left .3s ease-in-out, top .3s ease-in-out .3s;
  transition: left .3s ease-in-out, top .3s ease-in-out .3s; }

.item:hover {
  cursor: pointer; }

.design {
  width: 50%; }

.item img {
  width: 100%;
  height: 100%;
  display: block; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  color: #fff;
  opacity: 0; }

.overlay .title {
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.design-description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 100px 30px 100px; }


.title-design  {
  font-weight: 400;
  font-size: 16px; }

.description, footer {
  font-family: karla, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 30px; }

.item:hover .overlay {
  display: block;
  opacity: 1;
  transition: all 0.5s; }


em {
  font-style: normal;
  font-weight: 700;
  background: url("../img/white-squiggle.png") repeat-x 100% 100%;
  background-size: 121px;
  padding-bottom: 10px; }

footer {
  margin: 80px;
  font-weight: 700;
  color: #07222d; }

footer p {
  margin-bottom: 30px; }

@media screen and (max-width: 1080px) {

  .design-description {
    margin: auto 55px; }

}

@media screen and (max-width: 870px) {

  .grid-sizer, .item {
    width: 50%; }

  .design {
    width: 100%; }

  section.container {
    margin: 30px 30px 0px 30px;
    height: 60px; }

  h1 img {
    width: 150px; }

}

@media screen and (max-width: 670px) {

  section.container {
    margin: 20px 0px 0px -10px;
    height: 50px; }

  h1 img {
    width: 120px;
    float: none; }

  h1 {
    display: block;
    text-align: center; }

  nav a {
    display: block;
    margin: auto 0;
    padding: 10px;
    text-align: center; }

  nav a:hover  {
    background: none;
    padding-bottom: 10px; }

  nav {
      display: none;
      float: none;
      text-align: center;
      padding: 0 0 20px 0;
      margin-top: 0;
      z-index: 10;
      position: relative;
      background-color: #fff;
      width: 100%; }

  .trigger {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px; }

  .trigger img {
    width: 20px; }

  .logo {
    max-width: 250px; }
}

